

$letra_gris:rgba(144, 144, 144, 1);
$letra_blanca:rgba(255, 255, 255, 1);
$letra_negra:rgba(49, 49, 49, 1);
$letra_verde:rgba(155, 154, 120, 1);
$color_fondo:rgba(217, 217, 217, 1);
$recuadro_blanco:rgba(255, 255, 255, 0.7);


$font_poppin:'Poppins';
$font_player:'Playfair Display';
