

@font-face {
    font-family: 'Playfair Display';
    src: url('/font/playerair/PlayfairDisplay-Italic.eot');
    src: url('/font/playerair/PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
        url('/font/playerair/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('/font/playerair/PlayfairDisplay-Italic.woff') format('woff'),
        url('/font/playerair/PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('/font/poppin/Poppins-ExtraLight.eot');
    src: url('/font/poppin/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/font/poppin/Poppins-ExtraLight.woff2') format('woff2'),
        url('/font/poppin/Poppins-ExtraLight.woff') format('woff'),
        url('/font/poppin/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
