@use '../abstracts/abstracts'as abstracts;

body {
    width: 100%;
   
    background:abstracts.$color_fondo;
    
    .container_principal {
        width: 90%;
        margin:auto;
        background-image: url('/img/Placeholder.png');
        background-size:800px ;
        background-repeat: no-repeat;
        background-position:20px 120px ;
       
    }
}
